@import '~style/helpers';

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

td {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	width: 4em;
}

tr {
	background: #ddd;
}

.top td {
	border-top: 1px solid #000;
}

.bottom td {
	border-bottom: solid;
}

table {
	border-spacing: 3px;
	border-collapse: collapse
}

.toRun {
	background: #bbb;
}

.toBuild {
	background: #ddd;
}

