@import '~style/helpers';

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

td {
	padding-left: 1em;
	padding-right: 1em;
	border-style: solid;
	border-width: thin;
	text-align: center;
}